*{
    padding: 0;
    margin: 0;
}
body{
   background-color: #000000;
   font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.gen_layout{
    margin: auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
nav{
    border: none;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_left{
    gap: 2rem;
    display: flex;
}
.nav_right{
    gap: 2rem;
    display: flex;
}
.nav_right>i{
    color: white;
}
.nav_left>a{
    text-decoration: none;
    color: #f6f7f5;
}
.nav_right>a{
    text-decoration: none;
    color: #f6f7f5;
}
.sec-one{
    border: none;
    width: 100%;
    height: 500px;
    margin-block: 2rem;
    display: flex;
}
.cafena{
    border: none;
    width: 600px;
    height: 600px;
}
hr{
    color: #909090;
}
.cafena_social{
    color: white;
    display: flex;
    gap: 2rem;
    font-size: 12px;
}
.cafena_content{
    color: #909090;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.cafena>h1{
    color: #fcfffa;
    margin-top: 3rem;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -2px;
    margin-bottom: 1rem;
}
.cafena>h2{
    color: #fcfffa;
    font-size: 33px;
    letter-spacing: -2px;
}
.btn-btn{
    margin-bottom: 4rem;
    border: none;
    width: 100px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #c7a17a;
    text-align: center;
}
.btn-btn>button{
    background-color: #c7a17a;
    color: whitesmoke;
    border: none;
    text-align: center;
}
li{
    color: #c39c75;
}
h2>span{
    color: #d3ac7f;
    font-size: 35px;
}
.stroke>img{
    margin-left: 20rem;
}
.africa_image>img{
    height: 450px;
    width: 400px;
    align-items: center;
    margin-left: 1rem;
    margin-top: 3rem;
}
.sec-two{
    border: none;
    width: 100%;
    height: 300px;
    margin-block: 2rem;

}
.favour-heading{
    color: white;
    padding: 20px;
    margin-bottom: -1.5rem;
}
.coffee-flavour{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}
.favour{
    border: none;
    width: 350px;
    height: 250px;
    margin-top: 2rem;
    max-width: 1000px;
}
.sec-three{
    border: none;
    width: 100%;
    height: 600px;
    margin-block: 2rem;
}
.image-part{
    border: none;
    width: 400px;
    height: 600px;
}
.image-part>img{
    height: 500px;
    margin-top: 2rem;
}
.history{
    border: none;
    height: 600px;
    width: 600px;
    text-align: right;
}
.history>.btn-btn{
    margin-left: 30.6rem;
    margin-top: 2rem;
    padding: 4px;
}
.headings{
    color: #fcfffa;
    font-size: 20px;
    font-weight: 900;
}
.p1{
    color: #909090;
    margin-block: 3rem;
}
.p2{
    color: #909090;
    margin-bottom: 3rem;
}
.testy{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 4rem;
}
.testy>p{
    color: #909090;
}
.circle{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: #909090;
    border: 2px solid ;
}
.testy>.btn-btn{
    width: 150px;
    margin-top: 3rem;
    padding: 6px;
}
.testy{
    align-items: center;
    margin-top: -2rem;
}
.sec-four{
    border: none;
    width: 100%;
    height: 200px;
    margin-block: 2rem;
}
.Aroma{
    border: none;
    width:250px;
    height: 200px;
}
.Aroma-content{
    color: #909090;
    font-size: 13px;
}
.Aroma-heading{
    color: #fcfffa;
    margin-bottom: 1.5rem;
    font-size: 13px;
}
.Aroma-image{
    display: flex;
}
.Aroma-image>img{
    height: 70px;
    margin-top: .1rem;
    margin-left: -1rem;
}
.Quality{
    border: none;
    width:250px;
    height: 200px;
}
.Quality-content{
    color: #909090;
    font-size: 13px;
}
.Quality-heading{
    color: #fcfffa;
    margin-bottom: 1.5rem;
    font-size: 13px;
}
.Quality-image{
    display: flex;
}
.Quality-image>img{
    height: 40px;
    margin-top: .9rem;
    margin-left: -1rem;
    margin-bottom: 1rem;
}
.Roesting{
    border: none;
    width:250px;
    height: 200px;
}
.Roesting-content{
    color: #909090;
    font-size: 13px;
}
.Roesting-heading{
    color: #fcfffa;
    margin-bottom: 1.5rem;
    font-size: 13px;
}
.Roesting-image{
    display: flex;
}
.Roesting-image>img{
    height: 50px;
    margin-top: .8rem;
    margin-left: -1rem;
}
.place{
    border: none;
    width:250px;
    height: 200px;
}
.place-content{
    color: #909090;
    font-size: 13px;
}
.place-heading{
    color: #fcfffa;
    margin-bottom: 1.5rem;
    font-size: 13px;
}
.place-image{
    display: flex;
}
.place-image>img{
    height: 50px;
    margin-left: -1rem;
    margin-top: .5rem;
}
.blank{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    color: #909090;
    background-color: #14131b;
    border: none ;
    margin-top: 1rem;
}
.sec-five{
    border: none;
    width: 100%;
    height: 600px;
    margin-block: 2rem;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-container {
    text-align: center;
    width: 1000px;
    max-width: 1000px;
}

.menu-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #fcfffa;
}
.menu-container>.btn-btn{
    margin-left: 29rem;
    margin-bottom: 1.5rem;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #828282;
    padding: 10px 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    height: 70px;
    color: #fcfffa;
}
.menu-item>img{
    height: 70px;
    border-radius: 100%;
    margin-left: -3rem;
}
.item-name {
    font-size: 1rem;
    text-align: left;
}

.item-price {
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    color: #c39c75;
}

.sec-six{
    border: none;
    width: 100%;
    height: 400px;
    margin-block: 2rem;
}
.heading>h1{
    color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}
.content{
    color: #909090;
    text-align: center;
    font-size: 13px;
}
.Americano-image>img{
    margin-top: -1rem;
}
.Robasta-image>img{
    margin-top: -1rem;
}
.card{
    display: flex;
    border: none;
    justify-content: space-between;
    height: 250px;
}
.upper>.btn-btn{
    margin-left: 29rem;
}
.upper>h1{
    margin-left: 22rem;
    margin-top: -1rem;
}
.upper{
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.card-container{
    border: none;
    width: 1000px;
}
.footer{
    border: 2px solid white;
    width: 100%;
    height: 400px;
    margin-block: 2rem;
}
.container{
    margin: auto;
    max-width: 1000px;
    border: 2px solid;
    display: flex;
}

.every{
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url(img/coffee-cup-coffee-beans-black-wooden-background_88281-429.avif);
    /* height: 100vh; */
    margin-block: 4rem;
    margin-bottom: 13rem;
}
.thing{
    background: linear-gradient(to bottom, black, rgba(133, 133, 133, 0));
    height: 70vh;
}

.back>h1{
    text-align: center;
    width: 36rem;
    color: white;
    /* border: 2px solid white; */
    font-family: "Roboto", serif;
    font-weight: 600;
    margin-left: 14rem;
    font-size: 2rem;
    padding-top: 3rem;
}

.back>img{
    margin-left: 28rem;
    height: 5rem;
}

.black{
    /* align-items: center; */
    /* text-align: center; */
    /* margin-left: ; */
    background-color: black;
    height: 60vh;
    width: 100vh;
    padding: 2rem;
    padding-top: 4rem;
    /* margin-bottom: 4rem; */
}

.gold{
    /* margin: 2rem; */
    border: 1px solid #c7a17a;
    height: 30vh;
    width: 90vh;
}
.gold1{
    margin-left: 1rem;
    margin-top: -1rem;
    /* margin: 2rem; */
    border: 1px solid #c7a17a;
    height: 35vh;
    width: 85vh;
}

.gold1>h2{
    color: white;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

.gold1>p{
    color: #fff;
    text-align: center;
    margin-top: -2rem;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: .8rem;
}

.inp{
    border-bottom: 1px solid white;
    width: 15rem;
    /* margin-left: 5rem; */
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.inp>input{
    /* border-bottom: 1px solid white; */
    width: 13rem;
    margin-top: 1rem;
    /* text-align: center; */
    margin-left: 1rem;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    outline: none;
    color: white;
}

.bjn>button{
    margin-block: 2rem;
    height: 1.5rem;
    width: 6rem;
    background-color: #c7a17a;
    color: white;
    font-size: .7rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Roboto", serif;
    /* margin-bottom:-19rem; */
    /* margin-left: 21rem; */
 }

form{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.goto{
    background-image: url("./images/coffee\ b1.png");
    background-repeat: no-repeat;
    background-size: var(25rem);
    background-position: center;
    margin-block: 9rem;
    padding-block: 3rem;
}
.goto-circle{
    border: 2px solid white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: relative;
    left: 650px;
    background-color: black;
}
.goto-circle>a{
    text-decoration: none;
}
.goto-circle>a>i{
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 27%;
    left: 20%;
}
.goto>hr{
    margin-top: -25px;
}
.goto>h3{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 35px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
}
.info-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -5rem;
    width: 1000px;
    margin: auto;
}
.phone-no{
    display: flex;
    gap: .5rem;
}
.phone-icon{
    width: 12px;
    height: 12px;
}
.phone-icon>i{
    width: 100%;
    height: 100%;
    color: #c3a075;
}
.phone-details{
    display: flex;
    gap: 5px;
    color: white;
}
.phone-details>h4{
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Inter", sans-serif;
}
.phone-details>p{
    opacity: .5;
    font-size: 13px;
    font-family: "Inter", sans-serif;
}
.address{
    display: flex;
    gap: .5rem;
}
.address-icon{
    width: 12px;
    height: 12px;
}
.address-icon>i{
    width: 100%;
    height: 100%;
    color: #c3a075;
}
.address-details{
    display: flex;
    gap: 5px;
    color: white;
}
.address-details>h4{
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Inter", sans-serif;
}
.address-details>p{
    opacity: .5;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Inter", sans-serif;
}
.subscribe2{
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subs-button>a{
    display: flex;
    align-items: center;
    gap: 5px;
}
.subs-button{
    margin-bottom: .5rem;
}
.subscribe2>input{
    border: none;
    outline: none;
    background-color: black;
    width: 180px;
    margin-left: 10px;
    margin-bottom: .5rem;
}
.subscribe2>input::placeholder{
    color: #818181;
    font-size: 10px;
    font-family: "Inter", sans-serif;
}
.subs-button>a>button{
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 12px;
}
.subscribe-circle{
    border: 1px solid white;
    border-radius: 100%;
    height: 10px;
    width: 10px;
}
.subscribe-circle>h6{
    text-decoration: none;
    color: white;
    font-size: 8px;
    margin-left: 3px;
}
.cafena-image{
    border: none;
    height: 70px;
    width: 70px;
    margin-top: 70px;
}
.cafena-image>img{
    height: 100%;
    width: 100%;
}
.info2-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}
.info2-details>p{
    font-size: 12px;
    color: white;
    font-family: "Inter", sans-serif;
}
.socials{
    display: flex;
    align-items: center;
    gap: 10px;
}
.socials1>a{
    text-decoration: none;
    color: white;
}
.socials2>a{
    text-decoration: none;
    background-color: black;
    color: white;
}
.socials2{
    background-color: black;
    border: 1px solid ;
    color: #818181;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials1{
    background-color: black;
    border: 1px solid;
    color: #818181;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact{
    margin: auto;
    width: 1000px;
}